@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-satoshi: "Satoshi";
  }

  body {
    @apply bg-violet-50 dark:bg-gray-800;
  }
}

@layer components {
  .OurPlan-Background {
    @apply bg-violet-100 dark:bg-gray-700;
  }

  .OurPlan-Title {
    @apply text-4xl font-bold text-violet-950 dark:text-gray-50 sm:text-5xl;
  }

  .OurPlan-Title-Violet {
    @apply text-violet-600 dark:text-violet-500;
  }

  .OurPlan-Subtitle {
    @apply text-lg text-gray-600 dark:text-gray-400;
  }

  /* Default Card (Box/Default) */
  .OurPlan-Box-Default-Background {
    @apply rounded-3xl p-8 transition-all;
    @apply bg-violet-100 dark:bg-gray-700;
  }

  /* Focused Card (Box/Focus) */
  .OurPlan-Box-Focus-Background {
    @apply bg-violet-700 dark:bg-violet-700 text-white;
  }

  /* Card Title */
  .OurPlan-Box-Default-Title {
    @apply text-violet-950 dark:text-violet-50 text-4xl font-medium;
  }

  .OurPlan-Box-Focus-Title {
    @apply text-white text-4xl font-medium;
  }

  /* Card Description */
  .OurPlan-Box-Default-Subtitle {
    @apply text-gray-700 dark:text-gray-100 text-lg;
  }

  .OurPlan-Box-Focus-Subtitle {
    @apply text-violet-50 dark:text-gray-100 text-lg;
  }

  /* Card Icon */
  .OurPlan-Icon {
    @apply p-1.5 rounded-full
           h-6 w-6
           flex items-center justify-center;
  }

  .OurPlan-Box-Default-IconYes {
    @apply text-violet-100 dark:text-gray-700 text-xl font-bold
           bg-violet-500 dark:bg-violet-300;
  }

  .OurPlan-Box-Focus-IconYes {
    @apply text-violet-600 text-xl font-bold
           bg-white;
  }

  .OurPlan-Box-Default-IconNo {
    @apply text-violet-100 dark:text-gray-700 text-xl
           bg-violet-300 dark:bg-gray-500;
  }

  .OurPlan-Box-Focus-IconNo {
    @apply text-violet-700 text-xl
           bg-violet-500;
  }

  /* Feature Text */
  .OurPlan-Box-Default-TextNo {
    @apply text-violet-400 dark:text-gray-400;
  }

  .OurPlan-Box-Focus-TextNo {
    @apply text-violet-400;
  }

  .OurPlan-Box-Default-TextYes {
    @apply text-violet-950 dark:text-violet-100;
  }

  .OurPlan-Box-Focus-TextYes {
    @apply text-white;
  }

  /* Buttons */
  .Btn {
    @apply w-full rounded-lg py-2.5 font-medium transition-all;
  }

  /* Primary Button - for highlighted card */
  .Btn-Primary {
    /* Base Styles */
    @apply text-violet-50 dark:text-violet-700 
         bg-orange-500 dark:bg-violet-50 
         my-0.5;

    /* Hover Effects */
    @apply hover:bg-orange-600 dark:hover:bg-violet-100 
         hover:shadow-light-sm dark:hover:shadow-dark-sm;

    /* Disabled State */
    @apply disabled:bg-violet-300 dark:disabled:bg-violet-100 
         dark:disabled:text-violet-400
         disabled:dark:border-2 disabled:dark:border-violet-400 
         disabled:shadow-none disabled:dark:shadow-none
         disabled:dark:my-0;
  }

  /* Secondary Button - for normal cards */
  .Btn-Secondary {
    /* Base Styles */
    @apply bg-violet-100 dark:bg-gray-600 
           text-violet-700 dark:text-violet-300 
           border-2 border-violet-400 dark:border-violet-300;

    /* Hover Effects */
    @apply dark:hover:bg-gray-700
           hover:shadow-light-sm dark:hover:shadow-dark-sm;

    /* Disabled State */
    @apply disabled:bg-white disabled:dark:bg-gray-600
           disabled:text-violet-300 
           disabled:border-violet-300 
           disabled:dark:border-gray-500 disabled:dark:text-gray-500 
           disabled:hover:bg-white disabled:dark:hover:bg-gray-600
           disabled:shadow-none disabled:dark:shadow-none;
  }
}
